.essayBox {
    width: 20%;
    height: 20%;
    background-color: #A8ADAD;
    transition: background-color 500ms ease-in-out 0s;
    -o-transition: background-color 500ms ease-in-out 0s;
    -moz-transition: background-color 500ms ease-in-out 0s;
    -webkit-transition: background-color 500ms ease-in-out 0s;
}
.essayBox:hover {
    background-color: #FFB517;
}
.essayBox h1 {
    color: black;   
}