.essayBox {
    display: inline-block;
    margin:0;
    width: 15%;
    height: 200px;
    overflow: hidden;
    background-color: #A8ADAD;
    transition: background-color 500ms ease-in-out 0s;
    -o-transition: background-color 500ms ease-in-out 0s;
    -moz-transition: background-color 500ms ease-in-out 0s;
    -webkit-transition: background-color 500ms ease-in-out 0s;
    transition: width 250ms ease-in-out 0s;
    -o-transition: width 250ms ease-in-out 0s;
    -moz-transition: width 250ms ease-in-out 0s;
    -webkit-transition: width 250ms ease-in-out 0s;
}
.essayBox h1 {
    font-size: 30px;
    width: 100%;
    height: 40px;
    overflow: hidden;
}
.essayBox p {
    width: 100%;
    height: 145px;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.essayBox:hover {
    background-color: #FFB517;
    width: 50%;
}
.essayBox h1, .essayBox p {
    color: black; 
    margin-bottom: 5px;
}
.essayRow {
    height: 200px;
    width: 100%;
}