.about{
  width: 50%;
}

body {
  margin: 0;
}
* {
  font-family: "Open Sans", sans-serif;
}

#logo{
  float: left;
  height: 100px;
}
#navbar{
  width: 100%;
  background-color: #FFB517;
  margin-top: -2px;
}

#header {
  background-color: #A8ADAD;
  display: inline-block;
  width: 100%;
}

.button{
  color: black;
  height: 50px;
  width: 50px;
  background-color: #A8ADAD;
}
h1{
  color:#FFB517;
}

.dropbutton1, .dropbutton2 {
  background-color: #062F4F;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  padding: none;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: none;
  right: 0;
  z-index: 1;
  float: none;
  align-content: center;
}
.dropdown-content2{
  padding: none;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  overflow: none;
  right: 0;
  z-index: 1;
  float: none;
  align-content: center;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  align-content: center;
  text-align: center;
  float: none;
}
.dropdown a:hover {background-color: #b1bbec;}

.show {display: block;}