.about{
  width: 50%;
}

body {
  margin: 0;
}
* {
  font-family: "Open Sans", sans-serif;
}

#logo{
  margin: auto;
  height: 100px;
}
#navbar{
  position: sticky; 
  width: 100%;
  background-color: #FFB517;
  margin-top: -2px;
}
#header {
  background-color: #A8ADAD;
  display: inline-block;
  width: 100%;
}

.button{
  color: black;
  height: 50px;
  width: 50px;
  background-color: #A8ADAD;
}
h1{
  color:#FFB517;
}
.dropdown {
  display: inline;
}
#dropdownMenuButton {
  background-color: #001A75;
}
.dropdown-item:active, .dropdown-item.active {
  background-color: #001A75;
  color: white;
}
.active {
  background-color: #001A75;
  color: white;
}