body {
    grid-template-rows: 50px auto 50px;
    grid-template-columns: 1fr 8fr 1fr;
}

#content {
    display: flex;
    justify-content: center;
    grid-area: 2 / 2 / 3 / 3;
}

#content table{
    width: auto;
    border: none;
}

#content td {  
    text-align: center;
    margin: 0px;
}

#content th:nth-child(3) {
    text-align: left;
}
#content td:nth-child(3) {  
    text-align: left;
}

#content tr:hover td {
    background-color: rgb(199, 199, 255);
    transition: 0.5s;
}

#footer {
    grid-area: 3 / 1 / 4 / 4;
}

