body {
}
/*This is to line up the navigation items with page elements for style, modify at your own risk*/
#nav li {
    width: 123px;
}
.navMenu {
    width: 100%;
    text-align: center;
}

#content-table {
    display: flex;
    justify-content: left;
    height: 80%;
    width: 100%;
    overflow: scroll;
    flex-shrink: 3;
}

#content-table table{
    width: 500px;
    border: none;
}

    #content-table tr:nth-child(odd) {
        background-color: rgb(245, 245, 255);
        color: black;
    }
    #content-table tr:nth-child(even) {
        background-color: #ffffff;
        color: black;
    }

    #content-table tr:nth-child(1) {
        background-color: #020059;
        color: white;
    }


#content-table td {  
    text-align: center;
    padding: 10px 20px 10px 20px;
}
    #content-table tr:hover {
        cursor: pointer;
    }
#content th:nth-child(3) {
    text-align: left;
}
#content td:nth-child(3) {  
    text-align: left;
}

#content tr:hover td {
    background-color: rgb(199, 199, 255);
    transition: 0.8s;
}

#page-heading {
    font-size: 50px;
    color: #020059;
    margin-bottom: 0px;
}

#subtitle {
    margin-top: 5px;
    font-size: 25px;
    color: #F4a024;
}

#lectures-search-bar {
    padding: 5px 12px 5px 12px;
    margin-bottom: 20px;
    font-size: 17px;
}

#footer {
    
}

#page-wrapper {
    display: flex;
    width: 100%;
    height: 85%;
    justify-content: center;
    align-items: center;
    

}
#content {
    flex-direction: column;
    height: 100%;
    flex-shrink: 3;
    text-align: center;
}