.pageWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav li {
    width: 193px;
}

#banner {
    display: flex;
    justify-content: center;
    flex-direction: row;
}


#banner-center {
    height: 400px;
    display: flex;
    align-items: center;
}

#banner-content {
    text-align: center;
}

    #banner-content h1 {
        margin-top: 0px;
        margin-bottom: 20px;
        font-size: 80px;
        color: #020059;
    }

.about-wrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

#about-button {
    display: block;
    padding: 10px 24px 10px 24px;
    border: 3px solid #F4a024;
    text-decoration: none;
    color: #020059;
    stroke-width:3px;
}

    #about-button:hover {
        background-color: #020059;
        color: white;
    }

#view-all-button {
    display: block;
    padding: 10px 24px 10px 24px;
    border: 3px solid #F4a024;
    text-decoration: none;
    color: #020059;
    width: 150px;
}

    #view-all-button:hover {
        background-color: #020059;
        color: white;
    }

.selected {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    line-height: 100%;
    color: #020059;
    background-color: #F4a024;
}

#winner-heading {
    margin-right: 10px;
}

#select-year-dropdown {
    background-color: white;
    border: thin solid black;
    border-radius: 4px;
    display: initial;
    font: inherit;
    line-height: 1em;
    padding: 0em 3.5em 0em 1em;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    height: 30px;
    bottom: -15px;
    left: 7px;
}

.winnerWrapper {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 300px;
    justify-content: space-evenly;
}

.item {
    width: 20% ;
}

#filler{
    width: 100%;
    height: 400px;
    text-align: center;
    justify-content: center;
    display: flex;
    border: none;
    background-color: white;
    color: lightgrey;
}

.selected .item {
    display: none;
    justify-items: center;
    border: 3px solid #020059;
    margin: 4px;
}

.item:hover {
    background-color: rgb(199, 199, 255);
    transition: 0.8s;
}

.placeWrapper {
    display: flex;
    flex-direction: row;
}

.heading {
    display: inline;
}

#footer {
}
