body {
    margin: 0;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: white;
}

#nav {
    width: 100%;
    background-color: rgb(6, 8, 160);
    grid-area: 1 / 1 / 2 / 4;
    display: flex;
    justify-content: center;
}

#nav li {
    color: white;
    display: inline;
    margin-left: 6px;
    margin-right: 6px;
}

#banner {
    grid-area: 2 / 2 / 3 / 3;
}

#featured {
    width: 100%;
    background-color: green;
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

#featured .item {
    display: grid;
    justify-items: center;
    text-align: center;
    background-color: rgb(185, 185, 185);
    border-radius: 10px;
    margin: 4px;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr;
}

#featured .item img {
    width: 75%;
    margin: 2px;
    border-radius: 10px;
}

#recent {
    width: 100%;
    background-color: blue;
    grid-area: 4 / 2 / 5 / 3;
}

#footer {
    width: 100%;
    background-color: yellow;
    grid-area: 5 / 2 / 6 / 3;
}

