body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

#nav {
    width: 100%;
    background-color: #020059;
    display: flex;
    justify-content: center;
    border-bottom: solid 6px #F4a024;
}
    .navMenu{
        width:100%;
        text-align: center;
    }

    #nav ul {
        display:inline-block;
        margin: 0;
        padding: 0;
        list-style-type: none;
        
    }

    #nav li {
        color: white;
        display: inline-block;
        border-right: 1px solid white;
        border-left: 1px solid white;
        height: 100%;
        justify-content: left;
        margin: 0px;
        padding: 0px;
    }

        #nav li:hover {
            background-color: #F4a024;
        }

    #nav a {
        display: block;
        padding: 10px 24px 10px 24px;
        color: white;
        text-decoration: none;
    }
#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    margin-top: 10px;
    background-color: #F4a024;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }