.essayRow {
    margin: 25px 10% 0 10%;
    height: 200px;
    width: 80%;
    transition: width 250ms ease-in-out;
    -o-transition: width 250ms ease-in-out;
    -moz-transition: width 250ms ease-in-out;
    -webkit-transition: width 250ms ease-in-out;
}
.essayBox {
    width: 20%;
    height: 200px;
    background-color: #A8ADAD;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    transition: background-color 250ms ease-in-out;
    -o-transition: background-color 250ms ease-in-out;
    -moz-transition: background-color 250ms ease-in-out;
    -webkit-transition: background-color 250ms ease-in-out;
    transition: width 250ms ease-in-out;
    -o-transition: width 250ms ease-in-out;
    -moz-transition: width 250ms ease-in-out;
    -webkit-transition: width 250ms ease-in-out;
}
.essayBox h1 {
    font-size: 30px;
    width: 100%;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.essayBox p {
    width: 100%;
    height: 145px;
    overflow: hidden;
}
a {
    text-decoration: none;
}
.essayRow .essayBox:hover {
    background-color: #FFB517;
    width: 39.0625%;
}
.essayRow:hover {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.essayBox h1, .essayBox p {
    color: black; 
    margin-bottom: 5px;
}
.essayRow {
    height: 200px;
    width: 100%;
}
#lastRow1 {
    margin: 25px 40% 0 40%;
}
#lastRow2 {
    margin: 25px 30% 0 30%;
}
#lastRow3 {
    margin: 25px 20% 0 20%;
}
#lastRow1:hover {
    margin: 25px 30% 0 30%;
}
#lastRow2:hover {
    margin: 25px 20% 0 20%;
}
#lastRow3:hover {
    margin: 25px 10% 0 10%;
}